html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
    width: 100%;
    margin: 0px;
    display: grid;
}

.header {
    grid-column: 1 / -1;
    position: sticky;
    width: 100%;
    top: 0;
}

.page-body {
    justify-self: center;
    width: 80%;
    display: grid;
    /* grid-template-rows: 1fr 9fr; */
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    margin: 0px;
}

.search-zone {
    display: grid;
    grid-template-columns: minmax(50px, 250px) 4fr minmax(100px, 250px);
    grid-template-rows: min-content min(min-content, 100px);
    justify-items: center;
    align-items: center;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.categories-button {
    display: flex;
    gap: 10px;
}

.search-zone .search-bar {
    width: min(90%, 900px);
    display: flex;
    gap: 10px;
}

.search-bar > img {
    width: 50px;
}

.search-bar > input {
    font-size: 2em;
    height: 50px;
    border-radius: 3px;
    flex: 1;
}

#search-btn {
    font-size: 1.5em;
}

.account-zone {
    display: flex;
    align-items: center;
    font-size: 2em;
}

.account-logo {
    text-align: center;
    display: grid;
    align-items: center;
}

.account-logo > img{
    width: 50px;
}

.website-logo {
    max-width: 200px;
}

.below-search-bar-zone {
    width: 100%;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-size: 1.1em;
}

.sidebar-heading, .price-heading, #free-shipping-heading {
    font-size: 1.5em;
    font-weight: 700;
}

.free-shipping-section {

}

#free-shipping-filter {
    width: 20px;
    height: 20px;
}

.price-field {
    width: 50%;
}

.website-logo > img {
    width: 100px;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
}

.main-section {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 30px;
}

.item-card {
    width: 100%;
    text-align: center;
    border: lightgray 1px solid;
    border-radius: 5px;
}

.card-image-container {
    padding: 10%;
}

.card-image {
    width: 100%;
    height: auto;
}

p.item-title, div.price {
    font-weight: bold;
}

div.price > span {
    font-size: 1.5em;
    color: rgb(38, 38, 230);
}